.grid-container {
  margin: 20px 20px 20px 0;
}

.dashboard-card {
  position: absolute;
  top: 15px; 
   
  bottom: 15px;
  float: left;
   height: 100%;
   margin: 10px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

/*.dashboard-card-content {
  text-align: center;
  float: left;
  height: 100%;
}*/
 
.mat-grid-tile{
  overflow: inherit  !important;
}
.mat-card{
  display: table;
}
 