<div class="login-box">
<mat-card class="login-card">
   <mat-card-header>
     <mat-card-title>Login</mat-card-title>
   </mat-card-header>
   <mat-card-content>
     <form class="example-form"  #loginForm="ngForm" (ngSubmit)="logIn(loginForm.value)" >
 

       <table  cellspacing="0" class="table-full-width">
         <tr>
           <td>
             <mat-form-field class="input-full-width">
             <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
 

             </mat-form-field>
           </td>
         </tr>
         <tr>
         <td><mat-form-field class="input-full-width">
           <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
         </mat-form-field></td>
       </tr>

       <tr>
         <td> 
        
               <button mat-raised-button  color="primary">Login</button>
    
         </td>
       </tr>



   </table>
     </form>
     <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
   </mat-card-content>
   
 </mat-card>
</div>